
    {{ form_start(form)}}<div class="container-fluid text-center">
<div class="row">
<div class="col">
        <div class="form-group mb-2 " style="font-weight:bolder; font-size:20px;">
            {{ form_label(form.marque, 'Marque') }}
            {{ form_widget(form.marque, {'attr': {'class': 'form-control col-md-4 mx-auto '}}) }}
        </div>

         <div class="form-group mb-2 " style="font-weight:bolder; font-size:20px;">
            {{ form_label(form.model, 'Modèle') }}
            {{ form_widget(form.model, {'attr': {'class': 'form-control col-md-4 mx-auto '}}) }}
        </div>

        <div class="form-group mb-2" style="font-weight:bolder; font-size:20px; ">
            {{ form_label(form.kilometrage, 'Km') }}
            {{ form_widget(form.kilometrage, {'attr': {'class': 'form-control col-md-4 mx-auto '}}) }}
        </div>

        <div class="form-group mb-2" style="font-weight:bolder; font-size:20px; ">
            {{ form_label(form.annee, 'Année') }}
            {{ form_widget(form.annee, {'attr': {'class': 'form-control col-md-4 mx-auto '}}) }}
        </div>

        <div class="form-group mb-2" style="font-weight:bolder; font-size:20px; ">
            {{ form_label(form.imatriculation, 'Immatriculation') }}
            {{ form_widget(form.imatriculation, {'attr': {'class': 'form-control col-md-4 mx-auto '}}) }}
        </div>

        <div class="form-group mb-2" style="font-weight:bolder; font-size:20px;">
            {{ form_label(form.boite, 'Boîte') }}
            {{ form_widget(form.boite, {'attr': {'class': 'form-control col-md-4 mx-auto '}}) }}
        </div>
        
</div>
<div>
<img style="width:100%;" src="{{ asset('../asset/img/LOGO-CAR-TOOL-removebg.png') }}" alt="">
</div>
<div class="col">
        <div class="form-group mb-2" style="font-weight:bolder; font-size:20px; ">
            {{ form_label(form.porte, 'Nbre Porte') }}
            {{ form_widget(form.porte, {'attr': {'class': 'form-control col-md-4 mx-auto '}}) }}
        </div>

        <div class="form-group mb-2" style="font-weight:bolder; font-size:20px;">
            {{ form_label(form.puissance, 'Puissance') }}
            {{ form_widget(form.puissance, {'attr': {'class': 'form-control col-md-4 mx-auto '}}) }}
        </div>
        
        
        <div class="form-group mb-2" style="font-weight:bolder; font-size:20px; ">
            {{ form_label(form.note, 'Note') }}
            {{ form_widget(form.note, {'attr': {'class': 'form-control col-md-4 mx-auto '}}) }}
        </div>

         <div class="form-group mb-2 row" style="font-weight:bolder; font-size:20px; ">
            {{ form_label(form.miseencirculation, 'Date mise en circulation') }}
            {{ form_widget(form.miseencirculation, {'attr': {'class': ' date col-md-5 mx-auto'}}) }}
        </div>

       <div class="form-group mb-2" style="font-weight:bolder; font-size:20px; ">
            {{ form_label(form.carburant, 'Carburant') }}
            {{ form_widget(form.carburant, {'attr': {'class': 'form-control col-md-4 mx-auto'}}) }}
        </div><br>
</div>
         
</div>
        <button class="btn btn-success ">{{ button_label|default('Sauvegarder') }}</button>

    {{ form_end(form)}}
    
    
</div>