
    {{ form_start(form)}}

    <div class="container-fluid" style="border:10px white solid; padding:1%; width:75%; background-color:gray; box-shadow:14px 14px 14px black;">
<div  class="row">
<div class="col" style="margin-left:5%;">
        <div class="form-group mb-2 " style="font-weight:bolder; font-size:20px;">
            {{ form_label(form.marque, 'Marque') }}
            {{ form_widget(form.marque, {'attr': {'class': 'form-control   size-form2'}}) }}
        </div>

         <div class="form-group mb-2 " style="font-weight:bolder; font-size:20px;">
            {{ form_label(form.model, 'Modèle') }}
            {{ form_widget(form.model, {'attr': {'class': 'form-control  size-form2 '}}) }}
        </div>

        <div class="form-group mb-2" style="font-weight:bolder; font-size:20px; ">
            {{ form_label(form.kilometrage, 'Km') }}
            {{ form_widget(form.kilometrage, {'attr': {'class': 'form-control size-form2  '}}) }}
        </div>


        <div class="form-group mb-2" style="font-weight:bolder; font-size:20px; ">
            {{ form_label(form.imatriculation, 'Ancienne Immatriculation') }}
            {{ form_widget(form.imatriculation, {'attr': {'class': 'form-control size-form2  '}}) }}
        </div>

        <div class="form-group mb-2" style="font-weight:bolder; font-size:20px; ">
            {{ form_label(form.nouvelleimat, 'Nouvelle Immatriculation') }}
            {{ form_widget(form.nouvelleimat, {'attr': {'class': 'form-control   size-form2'}}) }}
        </div>  
              
       
         <div class="form-group mb-2" style="font-weight:bolder; font-size:20px; ">
            {{ form_label(form.garantie, 'Garantie') }}
            {{ form_widget(form.garantie, {'attr': {'class': 'form-control   size-form'}}) }}
        </div>
   
   
</div>

        
<div class="col">

         <div class="form-group mb-2" style="font-weight:bolder; font-size:20px; ">
            {{ form_label(form.numero, 'Numéro de série') }}
            {{ form_widget(form.numero, {'attr': {'class': 'form-control  size-form2 '}}) }}
        </div>
        
        <div class="form-group mb-2" style="font-weight:bolder; font-size:20px;">
            {{ form_label(form.annonce, 'Lien Annonce') }}
            {{ form_widget(form.annonce, {'attr': {'class': 'form-control  size-form2 '}}) }}
        </div>
        
        <div class="form-group mb-2" style="font-weight:bolder; font-size:20px;">
            {{ form_label(form.boite, 'Boîte') }}
            {{ form_widget(form.boite, {'attr': {'class': 'form-control  size-form2 '}}) }}
        </div>

         <div class="form-group mb-2" style="font-weight:bolder; font-size:20px; ">
            {{ form_label(form.carburant, 'Carburant') }}
            {{ form_widget(form.carburant, {'attr': {'class': 'form-control  size-form2'}}) }}
        </div>
       

          <div class="form-group mb-2" style="font-weight:bolder; font-size:20px; ">
            {{ form_label(form.prixachat, 'Prix d\'achat') }}
            {{ form_widget(form.prixachat, {'attr': {'class': 'form-control  size-form2'}}) }}
        </div>

       <div class="form-group mb-2" style="font-weight:bolder; font-size:20px; ">
            {{ form_label(form.revision, 'Révision / entretien') }}
            {{ form_widget(form.revision, {'attr': {'class': 'form-control   size-form'}}) }}
        </div>

        
</div>


<div class="col" style="margin-right:">

        <div class="form-group mb-2  " style="font-weight:bolder; font-size:20px;">
            {{ form_label(form.miseencirculation, 'Date mise en circulation') }}
            {{ form_widget(form.miseencirculation, {'attr': {'class': ' date '}}) }}
        </div>

     <div class="form-group mb-2 " style="font-weight:bolder; font-size:20px; width:60%;">
            {{ form_label(form.imageFile, 'Image du vehicule') }}
            {{ form_widget(form.imageFile, {'attr': {'class': '  '}}) }}
        </div>
        

        <div class="form-group mb-2" style="font-weight:bolder; font-size:20px;">
            {{ form_label(form.puissance, 'Puissance') }}
            {{ form_widget(form.puissance, {'attr': {'class': 'form-control  size-form2 '}}) }}
        </div>
        <div class="form-group mb-2" style="font-weight:bolder; font-size:20px; ">
                    {{ form_label(form.porte, 'Nbre Porte') }}
                    {{ form_widget(form.porte, {'attr': {'class': 'form-control   size-form2'}}) }}
                </div>

      
          <div class="form-group mb-2" style="font-weight:bolder; font-size:20px; ">
            {{ form_label(form.prixvente, 'Prix de vente') }}
            {{ form_widget(form.prixvente, {'attr': {'class': 'form-control  size-form2'}}) }}
        </div>

        
    <div class="form-group mb-2" style="font-weight:bolder; font-size:20px; ">
            {{ form_label(form.options, 'Option') }}
            {{ form_widget(form.options, {'attr': {'class': 'form-control   size-form'}}) }}
        </div><br>

     <div class="form-group mb-2" style="font-weight:bolder; font-size:20px; ">
            {{ form_label(form.vente, 'Vente ?') }}
            {{ form_widget(form.vente, {'attr': {'class': 'form-control  size-form2'}}) }}
        </div>


   </div>  

       
</div>
        

    <div class="text-center"> <button class="btn btn-success mt-5">{{ button_label|default('Sauvegarder') }}</button> </div>


       
       

       

    {{ form_end(form)}}
</div>    
    


