{% extends 'base.html.twig' %}

{% block title %}Stock des Véhicules{% endblock %}

{% block body %} {{ parent() }}

    <div class="card mx-auto" style="width: 90%;">
        <div class="card-body">

            <h3 class="card-title text-center title">Stock des véhicules</h3><br>

    <div class="table-responsive">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Marque</th>
                        <th>Km</th>
                        <th>Année</th>
                        <th>Immatriculation</th>
                        <th>Mise En Circulation</th>
                        <th>Boite Vitesse</th>
                        <th>Carburant</th>
                        <th>Nbre Porte</th>
                        <th>Puissance CV</th>
                        <th>Note</th>
                        <th></th>
                    </tr>
                </thead>

               <tbody>
        {% for vehicule in vehicules %}
            <tr>
                <td>{{ vehicule.marque }}</td>
                <td>{{ vehicule.kilometrage }}</td>
                <td>{{ vehicule.annee }}</td>
                <td>{{ vehicule.imatriculation }}</td>
                <td>{{ vehicule.miseencirculation }}</td>
                <td>{{ vehicule.boite }}</td>
                <td>{{ vehicule.carburant }}</td>
                <td>{{ vehicule.porte }}</td>
                <td>{{ vehicule.puissance }}</td>
                <td>{{ vehicule.note }}</td>
                <td>
                    <a href="{{ path('vehicule_show', {'id': vehicule.id}) }}"><button type="button" class="btn btn-success">Voir</button></a>
                    <a href="{{ path('vehicule_edit', {'id': vehicule.id}) }}"><button type="button" class="btn btn-warning">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Liste vide</td>
            </tr>
        {% endfor %}
        </tbody>
            </table>
    </div>


          

            <a href="{{ path('vehicule_new') }}"><button type="button" class="btn btn-dark mx-1 my-2">Ajouter un nouveau véhicule</button></a>
            
        </div>
    </div>
{% endblock %}

