{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}
{% block body %}{{ parent() }}
  <body>
      
    <div class="container-fluid">
    
        <div class="row" style="margin-left:0.5%;">
        <div class="">
            {{ form_start(searchForm) }}
        {{ form_row(searchForm.marque, {'label': " ", 'attr': {'placeholder': 'mot clé...'}}) }}
        
           </div>

        <div > <button class="btn btn-outline-success mt-4 "  type="submit">Search</button></div>
     </div>
     {{ form_end(searchForm) }}
     
     
       
        <div class="table">
            <table class="table table-striped text-center">
                <thead class="thead-dark">
                    <tr>
                        <th >Marque</th>
                        <th>Modèle</th>
                        <th>Immatriculation</th>
                        <th>Mise En Circulation</th>
                        <th></th>
                    </tr>
                </thead>

               <tbody>{% for vehicule in vehicules %}
        
            <tr>
                <td class="border-list">{{ vehicule.marque }}</td>
                <td class="border-list">{{ vehicule.model }}</td>
                <td class="border-list">{{ vehicule.imatriculation }}</td>
                <td class="border-list">{{ vehicule.miseencirculation ? vehicule.miseencirculation|date('d-m-Y') : '' }}</td>
                <td style="margin-left:25%;" class="row">
                    <a href="{{ path('vehicule_show', {'id': vehicule.id}) }}"><button type="button" class="btn btn-outline-success ">Voir</button></a>
                    
                    {{ include('vehicule/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Liste vide</td>
            </tr>
     
        </tbody>
    </table>


                {% endfor %}
         
</div>
  </body>
    {% endblock %}
    