{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}
{% block body %}{{ parent() }}
  <body>
      
    <div class="container-fluid ">
    
    <h1 class="title"> Recherche </h1>
        <div class="row" style="margin-left:0.5%;">
        <div class="">
            {{ form_start(searchForm) }}
        {{ form_row(searchForm.marque, {'label': " ", 'attr': {'placeholder': 'Marque du vehicule'}}) }}
        
           </div>

        <div > <button class="btn btn-outline-dark btn-sm mb-4 " style=" margin-left:10%;"  type="submit">chercher</button></div>
     </div>
     {{ form_end(searchForm) }}
             

     
     
       
        <div class="table">
            <table class="table table-striped text-center">
                <thead class="thead-dark">
                    <tr>
                        <th >Marque</th>
                        <th>Modèle</th>
                        <th>Immatriculation</th>
                        <th>Mise En Circulation</th>
                        <th></th>
                    </tr>
                </thead>

               <tbody>{% for vehicule in vehicules %}
        
            <tr>
                <td >{{ vehicule.marque }}</td>
                <td >{{ vehicule.model }}</td>
                <td >{{ vehicule.imatriculation }}</td>
                <td >{{ vehicule.miseencirculation ? vehicule.miseencirculation|date('d-m-Y') : '' }}</td>
                <td class="row" style="margin-left:25%;">
                    <a href="{{ path('vehicule_show', {'id': vehicule.id}) }}"><button type="button" class="btn btn-outline-success ">Voir</button></a>
                    
                    {{ include('vehicule/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Liste vide</td>
            </tr>
     
        </tbody>
    </table>


                {% endfor %}
               
         
</div>
  </body> <a href="{{ path('vehicule_index') }}"><button type="button" class="btn btn-warning mx-1 my-2 mb-4">Retour au stock</button></a>
    {% endblock %}
    