

{% block body %} 
<div class="card mx-auto" style=" border:2px gray solid; margin-bottom:5%; background-color:#E9ECEF;">
        <div class="card-body">

            <h3 class="card-title text-center">{{ vehicule.marque | upper }} - {{ vehicule.model | upper }}</h3>
            <br/> 
            <div class="card-text">

            <div class="row">
            <div>
                <table class="table row " style="margin-left:15%;">
                    <tbody>
           
            <tr>
                <th class="border-list" style="border-top:2px gray solid">Marque</th>
                <td class="border-list" style="border-top:2px gray solid">{{ vehicule.marque }}</td>
            </tr>
             <tr>
                <th class="border-list">Modèle</th>
                <td class="border-list">{{ vehicule.model }}</td>
            </tr>
            <tr>
                <th class="border-list">Kilométrage</th>
                <td class="border-list">{{ vehicule.kilometrage }}&nbsp;<span style="font-weight:bold;">Km<span></td>
            </tr>
            <tr>
                <th class="border-list">Année</th>
                <td class="border-list">{{ vehicule.annee }}</td>
            </tr>
            <tr>
                <th class="border-list">Immatriculation</th>
                <td class="border-list">{{ vehicule.imatriculation }}</td>
            </tr>
            <tr>
                <th class="border-list">Mise en circulation</th>
                <td class="border-list">{{ vehicule.miseencirculation ? vehicule.miseencirculation|date('d-m-Y') : '' }}</td>
            </tr> 
            
            </tbody>
            </table>
            </div>
            <div style="margin-left:7%; ">
            <table class="table row " style="margin-left:15%;">
            <tbody>
            <tr>
                <th class="border-list" style="border-top:2px gray solid">Porte</th>
                <td class="border-list" style="border-top:2px gray solid">{{ vehicule.porte }}</td>
            </tr>
             <tr>
                <th class="border-list">Carburant</th>
                <td class="border-list">{{ vehicule.carburant }}</td>
            </tr>
             <tr>
                <th class="border-list">Boite</th>
                <td class="border-list">{{ vehicule.boite }}</td>
            </tr>
            <tr>
                <th class="border-list">Puissance CV</th>
                <td class="border-list">{{ vehicule.puissance }}&nbsp;<span style="font-weight:bold;">Cv<span></td>
            </tr>
            <tr>
                <th class="border-list">Note</th>
                <td class="border-list">{{ vehicule.note }}</td>
            </tr>

            
        </tbody>
        
    </table>
    
   
</div>
</div>


</div>
</div>
{% endblock %}
