{% extends 'base.html.twig' %}

{% block title %}Véhicule{% endblock %}

{% block body %} {{ parent() }}
<div class="card mx-auto" style="width:80%; border:2px gray solid; margin-bottom:5%;  background-color:#ada8a8;">
        <div class="card-body">

            <h3 class="card-title text-center">{{ vehicule.marque | upper }} - {{ vehicule.model | upper }}</h3>
            <br/> 
            <div class="card-text">

            <div class="row" style="border:2px solid black; width:600px; height:300px; margin-left:2%; margin-bottom:5%; padding:1%;  background-color:#6b6767; box-shadow:15px 15px 15px black;">
            <div class="col" style="">
           
                <p class="text-card" style="">Marque : &nbsp;<span style="color:white;">{{ vehicule.marque | upper }}</span></p>
                <p class="" style=""></p>
            
                <p class="text-card">Modèle : &nbsp;<span style="color:white;">{{ vehicule.model | upper }}</span></p>
                <p class=""></p>
           
                <p class="text-card">N° série : &nbsp;<span style="color:white;">{{ vehicule.numero | upper }}</span></p>
                <p class=""></p>
            
                <p class="text-card">Kilométrage : &nbsp;<span style="color:white;">{{ vehicule.kilometrage }}&nbsp;<span style="font-weight:bold;">Km<span></span></p>
                <p class=""></p>
           
                <p class="text-card">Ancienne Immatriculation : &nbsp;<span style="color:white;">{{ vehicule.imatriculation | upper }}</span></p>
                <p class=""></p>
         
                <p class="text-card">Nouvelle Immatriculation : &nbsp;<span style="color:white;">{{ vehicule.nouvelleimat | upper }}</span></p>
                <p class=""></p>
           
                <p class="text-card" style="">Mise en circulation : &nbsp;<span style="color:white;">{{ vehicule.miseencirculation ? vehicule.miseencirculation|date('d-m-Y') : '' }}</span></p>
                <p class=""></p>
           
            </div>
            <div  class="col" style="margin-right:-15%;">
            
                <p class="text-card" style="">Porte : &nbsp;<span style="color:white;">{{ vehicule.porte }}</span></p>
                <p class="" style=""></p>
           
                <p class="text-card">Carburant : &nbsp;<span style="color:white;">{{ vehicule.carburant }}</span></p>
                <p class=""></p>
            
                <p class="text-card">Boîte : &nbsp;<span style="color:white;">{{ vehicule.boite }}</span></p>
                <p class=""></p>
            
                <p class="text-card">Puissance : &nbsp;<span style="color:white;">{{ vehicule.puissance }}&nbsp;<span style="font-weight:bold;">Cv<span></span></p>
                <p class=""></p>
            {% if vehicule.annonce is null %}
                 <p class="text-card">Annonce : &nbsp;<span style="color:white;"> vide</span></p>
                   {% else %}
                    
              <p class="text-card">Annonce : &nbsp;<span style="color:white;"><a href="{{ vehicule.annonce }}" target="_blank" >Lien</a></span></p>
                     {% endif %}
            
                <p class="text-card">Prix d'achat :&nbsp;<span style="color:white;">{{ vehicule.prixachat }}<span style="font-weight:bold">€</span></span></p>
                <p class=""></p>
           
                <p class="text-card">Prix de vente : &nbsp;<span style="color:white;">{{ vehicule.prixvente }}<span style="font-weight:bold">€</span></span></p>
                <p class=""></p>
    </div>        

</div>
   
<div class="text-right">
{# pour appeller une image avec lid en question tu peux aussi utiliser mais il ny aura pas le filtre mis avec le bundle liip #}
    <img class="img-fluid" style=" position:absolute; left:57%; top:9%; width:35%; border:2px solid gray;" src="{{asset('images/vehicules/')}}{{vehicule.filename}}" alt="">
</div>


<div class="text-left" style="margin-left:3%; ">
 <p style=" font-family:Roboto; font-size:16px; color:white;"><span style="font-weight:bolder; font-family:Roboto; font-size:18px; color:black;">Garantie : <br> </span> {{ vehicule.garantie }}</p><br>
 <p style=" font-family:Roboto; font-size:16px; color:white;"><span style="font-weight:bolder; font-family:Roboto; font-size:18px; color:black;">Option : <br> </span> {{ vehicule.options }}</p><br>
 <p style=" font-family:Roboto; font-size:16px; color:white;" > <span style="font-weight:bolder; font-family:Roboto; font-size:18px; color:black;">Révision / Entretien : <br> </span>  {{ vehicule.revision }}</p>
</div>
<div class="mt-5 ml-4">
<a href="{{ path('vehicule_edit', {'id': vehicule.id}) }}"><button class="btn btn-warning">Modifier</button></a>
{{ include('vehicule/create_modal.html.twig') }}

    {{ include('vehicule/_delete_form.html.twig') }}</div>
</div>
<div class="text-right"> <a href="{{ path('vehicule_index') }}"><svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" style="color:black; margin-right:3%;" fill="currentColor" class="bi bi-box-arrow-right hover-arrow" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
</svg></a></div>
</div>
</div>
{% endblock %}
