{% extends 'base.html.twig' %}

{% block title %}Véhicule{% endblock %}

{% block body %} {{ parent() }}
<div class="card mx-auto" style="width:70%; border:2px gray solid; margin-bottom:5%; background-color:#E9ECEF;">
        <div class="card-body">

            <h3 class="card-title text-center">{{ vehicule.marque | upper }} - {{ vehicule.model | upper }}</h3>
            <br/> 
            <div class="card-text">

            <div class="row">
            <div>
                <table class="table row " style="margin-left:15%;">
                    <tbody>
           
            <tr>
                <th class="border-list" style="border-top:2px gray solid">Marque</th>
                <td class="border-list" style="border-top:2px gray solid">{{ vehicule.marque }}</td>
            </tr>
             <tr>
                <th class="border-list">Modèle</th>
                <td class="border-list">{{ vehicule.model }}</td>
            </tr>
            <tr>
                <th class="border-list">Kilométrage</th>
                <td class="border-list">{{ vehicule.kilometrage }}&nbsp;<span style="font-weight:bold;">Km<span></td>
            </tr>
            <tr>
                <th class="border-list">Année</th>
                <td class="border-list">{{ vehicule.annee }}</td>
            </tr>
            <tr>
                <th class="border-list">Immatriculation</th>
                <td class="border-list">{{ vehicule.imatriculation }}</td>
            </tr>
            <tr>
                <th class="border-list">Mise en circulation</th>
                <td class="border-list">{{ vehicule.miseencirculation ? vehicule.miseencirculation|date('d-m-Y') : '' }}</td>
            </tr> 
            <tr>
                <td><br><a href="{{ path('vehicule_edit', {'id': vehicule.id}) }}"><button class="btn btn-warning">Modifier</button></a></td>
            </tr>
            </tbody>
            </table>
            </div>
            <div style="margin-left:7%; ">
            <table class="table row " style="margin-left:15%;">
            <tbody>
            <tr>
                <th class="border-list" style="border-top:2px gray solid">Porte</th>
                <td class="border-list" style="border-top:2px gray solid">{{ vehicule.porte }}</td>
            </tr>
             <tr>
                <th class="border-list">Carburant</th>
                <td class="border-list">{{ vehicule.carburant }}</td>
            </tr>
             <tr>
                <th class="border-list">Boite</th>
                <td class="border-list">{{ vehicule.boite }}</td>
            </tr>
            <tr>
                <th class="border-list">Puissance CV</th>
                <td class="border-list">{{ vehicule.puissance }}&nbsp;<span style="font-weight:bold;">Cv<span></td>
            </tr>
            <tr>
                <th class="border-list">Note</th>
                <td class="border-list">{{ vehicule.note }}</td>
            </tr>

            
        </tbody>

    <img style="position:absolute; left:60%; width:30%;" src="{{ asset('../asset/img/vehicule.jpg') }}" alt="">

    </table>
    
</div>
</div>
<div class="text-right"> <a href="{{ path('vehicule_index') }}"><svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" style="color:black; margin-right:3%;" fill="currentColor" class="bi bi-box-arrow-right hover-arrow" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
</svg></a></div>
    {{ include('vehicule/_delete_form.html.twig') }}
</div>
</div>
</div>
{% endblock %}
