{% extends 'base.html.twig' %}

{% block title %}Véhicule{% endblock %}

{% block body %} {{ parent() }}
<div class="card mx-auto" style="width: 90%;">
        <div class="card-body">

            <h3 class="card-title text-center">{{ vehicule.marque | upper }} </h3>
            <br/> 
            <div class="card-text">
                <table class="table ">
                    <tbody>
           
            <tr>
                <th>Marque</th>
                <td>{{ vehicule.marque }}</td>
            </tr>
            <tr>
                <th>Kilométrage</th>
                <td>{{ vehicule.kilometrage }}&nbsp;<span style="font-weight:bold;">Km<span></td>
            </tr>
            <tr>
                <th>Année</th>
                <td>{{ vehicule.annee }}</td>
            </tr>
            <tr>
                <th>Immatriculation</th>
                <td>{{ vehicule.imatriculation }}</td>
            </tr>
            <tr>
                <th>Mise en circulation</th>
                <td>{{ vehicule.miseencirculation }}</td>
            </tr>
            <tr>
                <th>Nbre de Porte</th>
                <td>{{ vehicule.porte }}</td>
            </tr>
            <tr>
                <th>Puissance CV</th>
                <td>{{ vehicule.puissance }}&nbsp;<span style="font-weight:bold;">Cv<span></td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ vehicule.note }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vehicule_index') }}"><button class="btn btn-secondary my-2 ml-4">Retour liste</button></a>

    <a href="{{ path('vehicule_edit', {'id': vehicule.id}) }}"><button class="btn btn-warning my-2 ml-4">Modifier</button></a>

    {{ include('vehicule/_delete_form.html.twig') }}
</div>
</div>
</div>
{% endblock %}
