{% extends 'base.html.twig' %}

{% block title %}Historique des clients{% endblock %}

{% block body %} {{ parent() }}
<body>
    

    <div class="card mx-auto" >
        <div class="card-body">

            <h3 class="card-title text-center title">Historique des clients</h3><br>
 <a href="{{ path('client_new') }}"><button type="button" class="btn btn-primary mx-1 my-2 mb-4">Ajouter un nouveau client</button></a>
        <a href="{{ path('search') }}"><button type="button" class="btn btn-success mx-1 my-2 mb-4">rechercher</button></a>
    
    <div class="table">
            <table class="table table-striped text-center">
                <thead class="thead-dark">
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Bp</th>
                <th>Ville</th>
                <th>Tél</th>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Immatriculation</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td class="border-list" style="border-left:2px solid gray;">{{ client.nom | upper }}</td>
                <td class="border-list" >{{ client.prenom | upper }}</td>
                <td class="border-list" >{{ client.adresse | upper }}</td>
                <td class="border-list" >{{ client.bp | upper }}</td>
                <td class="border-list" >{{ client.ville | upper }}</td>
                <td class="border-list" >{{ client.tel | upper }}</td>
                 {% if client.vehicule is null %}
                 <td class="border-list">vide</td>
                 <td class="border-list">vide</td>
                 <td class="border-list">vide</td>
                 {% else %}
                <td class="border-list" >{{ client.vehicule.marque | upper }}</td>
                <td class="border-list" >{{ client.vehicule.model | upper }}</td>
                <td class="border-list" >{{ client.vehicule.imatriculation | upper }}</td>
                {% endif %}
                <td class="row mx-auto" style="border-left:2px gray solid; margin-left:0; border-right:2px solid gray; margin-right:0.5% ;border-top:2px; margin-bottom:-0.45px;   border-bottom:2px solid gray;">

                    <a href="{{ path('client_show', {'id': client.id}) }}"><button type="button" class="btn btn-outline-success ">Voir</button></a>
                    {{ include('client/_delete_form.html.twig') }}

                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Liste Vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
{% endblock %}
