{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %} {{ parent() }}
<div class="card mx-auto" style="width:60%; border:2px gray solid; margin-bottom:5%;  background-color:#ada8a8;">
        <div class="card-body" >
    <h1 class="title text-center">Client</h1>

    <table class="table" style="width:500px; border:2px black solid; margin-bottom:5%;  margin-left:25%; background-color:#6B6767; box-shadow:15px 15px 15px black;">
        <tbody>
            <tr>
                <th  class="text-card">Nom</th>
                <td><span style="color:white;">{{ client.nom | upper }}</span></td>
            </tr>
            <tr>
                <th  class="text-card">Prenom</th>
                <td><span style="color:white;">{{ client.prenom | upper }}</span></td>
            </tr>
            <tr>
                <th  class="text-card">Adresse</th>
                <td><span style="color:white;">{{ client.adresse | upper }}</span></td>
            </tr>
            <tr>
                <th  class="text-card">Boîte Postale</th>
                <td><span style="color:white;">{{ client.bp | upper }}</span></td>
            </tr>
            <tr>
                <th  class="text-card">Ville</th>
                <td><span style="color:white;">{{ client.ville | upper }}</span></td>
            </tr>
            <tr>
                <th class="text-card">Tel</th>
                <td><span style="color:white;">{{ client.tel | upper }}</span></td>
            </tr>
            <tr>
                <th class="text-card">Email</th>
                <td><a style="color:white;" href="mailto:{{ client.email }}">{{ client.email }}</a></td>
            </tr>
            <tr>
                <th class="text-card">Véhicule</th>
                {% if client.vehicule is null %}
                <td><span style="color:white;">non vendu !</span></td>    
                {% else %}
                <td><span style="color:white;">{{ client.vehicule.marque | upper }} {{ client.vehicule.model  | upper }} <br> {{ client.vehicule.imatriculation | upper }}</span></td>{% endif %}
            </tr>
        </tbody>
    </table>

 
    
    <div class="row " style="margin-left:25%;">
    <a href="{{ path('client_edit', {'id': client.id}) }}"><button class="btn btn-warning">Modifier</button></a>&nbsp;&nbsp;

   
   

    <button type="button" class="btn btn-primary "  data-toggle="modal" data-target="#exampleModalCenter2">Facture</button>
            <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Créer facture ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Voulez-vous vraiment créer une facture ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <a  href="{{ path('showfacture', {'id': client.id}) }}"><button type="button " data-toggle="modal" class="btn btn-primary" >Créer</button></a>

                </div>
                </div>
            </div>
            </div> 
    </div><br><br>

     {{ include('client/_delete_form.html.twig') }}

            <div class="text-right"> <a href="{{ path('client_index') }}"><svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" style="color:black; margin-right:3%;" fill="currentColor" class="bi bi-box-arrow-right hover-arrow" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
</svg></a></div>
{% endblock %}
