{% extends 'base.html.twig' %}
{% block title %}
    Facture n°
{% endblock %}
{% block body %}

<div style="margin:0.5%; text-align:right;">

<img src="{{ absolute_url(asset('images/vehicules/Screenshot_12.png')) }}" style="width:40%; " alt="">

</div>
<div class="container-fluid" style="margin-top:-16%;" >




<div style="">

<div style="background-color: gray; width:30%; padding:1%; margin-bottom:2%; margin-top:-2%;">
<p>N° de siret : <br> 809 451 057 00016</p>
<p>50 rue Louis Bleriot <br>
62360 Saint Léonard</p>
<p>Tél: 09.81.76.82.78</p>

</div>


<div style=" margin-left:65%; margin-top:-6%; ">
<p style="font-weight: bold; color:black; font-size:23px; text-align:center;">Achat / vente 
de véhicules 
neuf et occasion</p>
</div>
</div>
<div style="border-top:3px solid black; margin-top:0.5%;"></div>
<div style="text-align:center; font-weight: bolder; color:black; font-size:30px;  margin-bottom:2.5%;"><p>Facture</p></div>

<div style="text-align:left;">
<p style="color:gray; font-size:17px;">N° facture : {{ client.id }} <br>
Date facture : {{ "now"|date("d/m/Y") }} <br> Particulier - Professionnel</p>
</div>

<div style="text-align:right; margin-right:2.5%; margin-top:-15%;"><h3 style="font-size:18px; color:black; text-decoration:underline;">Coordonnées Client
</h3>
<p style="text-align:right; margin-bottom:2.5%; font-size:15px;"> 
{{ client.nom  | upper }} {{ client.prenom }}<br>
Adresse : 57 rue de la gloire <br>
62360 ST léonard <br>
Tél : 06 22 22 25 25


</p>

</div>

<div style="border-top:3px solid black; border-left:3px solid black; border-right:3px solid black;  border-bottom:3px solid black;padding:1.2%; margin-left:-5%; margin-right:-5%; ">
   
   <div style="display:flex; flex-direction:row; height:390px;">
   <div  style="margin-left:2.5%;">
   

        <p style="font-size:12px;" ><span style="font-weight:bolder;">Marque :</span> {{ client.vehicule.marque | upper }}</p>
        <p style="font-size:12px;" ><span style="font-weight:bolder;">Modèle : </span>{{ client.vehicule.model | upper }}</p>
        <p style="font-size:12px;"><span style="font-weight:bolder;">Kilométrage : </span>{{ client.vehicule.kilometrage }}<span style="font-weight:bolder;">KM</span></p>
        <p style="font-size:12px;"><span style="font-weight:bolder;">N° série : </span>{{ client.vehicule.numero | upper }}</p>
        <p style="font-size:12px;"><span style="font-weight:bolder;">Ancienne Immatricualtion : </span>{{ client.vehicule.imatriculation | upper }}</p>
        <p style="font-size:12px;"><span style="font-weight:bolder;">Nouvelle Immatricualtion : </span>{{ client.vehicule.nouvelleimat | upper }}</p>
        <p style="font-size:12px;"><span style="font-weight:bolder;">Mise en circulation : </span>{{ client.vehicule.miseencirculation ? client.vehicule.miseencirculation|date('d-m-Y') : '' }}</p>
        <p style="font-size:12px; overflow: hidden; width:300px;"><span style="font-weight:bolder; ">Option : </span>{{ client.vehicule.options }}</p>

   </div>
 
   <div style=" margin-left:56%;">

        <p style="font-size:12px;"><span style="font-weight:bolder;">Porte : </span>{{ client.vehicule.porte }}</p>
        <p style="font-size:12px;"><span style="font-weight:bolder;">Carburant : </span>{{ client.vehicule.carburant }}</p>
        <p style="font-size:12px;"><span style="font-weight:bolder;">Boîte : </span>{{ client.vehicule.boite }}</p>
        <p style="font-size:12px;"><span style="font-weight:bolder;">Puissance : </span>{{ client.vehicule.puissance }}<span style="font-weight:bolder;">CV</span></p>
        <p style="font-size:12px;overflow: hidden; width:300px;" ><span style="font-weight:bolder; ">Garantie : </span>{{ client.vehicule.garantie }}</p>
        <p style="font-size:12px;overflow: hidden;width:300px;" ><span style="font-weight:bolder; ">Révision : </span>{{ client.vehicule.revision }}</p>
        
     
   </div>
   
   </div>
        
</div>

<div style="display:flex;  flex-direction:row;">
<div style="text-align:left;">
<p style="font-size:11px; color:gray; font-weight:bolder;">T.V.A au régime de la marge bénéficiaire article 279E / 297A du GGI</p>
<p style="font-size:15px; color:gray; ">Lu et approuvé + signature :</p>
</div>
<div style="text-align:right; ">
<p style="font-size:15px; color:black; font-weight:bolder;">Prix HT :  €</p>
<p style="font-size:15px; color:black; font-weight:bolder;">Prix TTC : {{ client.vehicule.prixvente }} €</p>
</div>

</div>

</div>
{% endblock %}
